{% extends 'Core/app_template.html' %}
{% block css %}
    <style>
        /* Стили для таблицы */
        .custom-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        .custom-table th, .custom-table td {
            border: 1px solid #e0e0e0;
            padding: 10px;
            text-align: left;
        }

        .custom-table th {
            background-color: #f2f2f2;
        }

        /* Стили для ссылок */
        .custom-link {
            color: #6a0dad;
            text-decoration: none;
        }

        .custom-link:hover {
            text-decoration: underline;
        }

        .create-warehouse-link {
            display: inline-block;
            margin-top: 20px;
            background-color: #6a0dad;
            color: #fff;
            padding: 10px 20px;
            border-radius: 8px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        .create-warehouse-link:hover {
            background-color: #530b8a;
        }
        .margin_block {
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block main_content %}
    <a href="/GK/warehouses/create" class="create-warehouse-link">Создать склад</a>
<div class="margin_block">
    {% for warehouse in warehouses %}
    <div class="document-card">
        <div class="document-header">
          <div class="document-title">
            <span class="document-id"><a href="/GK/warehouses/{{ warehouse.id }}/shelves/" class="custom-link">{{ warehouse.name }}</a></span>
            <span class="document-date">ID склада: {{ warehouse.id }}</span>
          </div>
          <div class="document-status">
                {{ warehouses.status }}Открытый
          </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
